<aside class="nav">
    <div class="userinformation">
        <figure class="userpicture">
            <img src="/images/logo-icon-white.svg">
        </figure>
        <span class="fullname"><%= currentUser.fullname %></span>
    </div>
    <nav>
        <a href="/projects" <% if(current_page == "home"){%> class="active" <% } %>><i class="fa fa-home"></i><span>Home</span></a>
        <a href="/settings" <% if(current_page == "settings"){%> class="active" <% } %>><i class="fa fa-cog"></i><span>Settings</span></a>
        <a href="/logout"><i class="fa fa-sign-out"></i><span>Signout</span></a>
        <a href="https://goo.gl/forms/Ak934D9QnJRW2DGm2"><i class="fa fa-flag"></i><span>Give us feedback!</span></a>
    </nav>
    <!--<div class="bottom-item">
        Current subscription? Free/Premium Upgrade now!
    </div>
    -->
</aside>
<div class="navigation-background"></div>