<html>
    <% include partials/header %>
    <body class="errorpage">
        <main>
            <i class="fas fa-exclamation-triangle fa-10x"></i>
                <div><h2>Something went wrong!</h2>
                <p>Seems like you are accessing the wrong page. Click <a href="/">here</a> to go back!</p>
            </div>
        </main>
    </body>
</html>