<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous">
    </head>
    <body class="new_project">
        <a href="dashboard.html" class="back-arrow"><i class="fa fa-angle-left fa-2x back-arrow"></i></a>
        <form id="add-project_form">
            <input type="text" placeholder="Project name" required>
            <button type="submit" form="add-project_form" value="submit"><i class="fa fa-angle-right fa-2x"></i></button>
        </form>
    </body>
</html>