<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous">
    </head>
    <body>
        <div class="dashboard_header">
            <small>Total time spend</small>
            <div class="dashboard_timing">
                <span class="numbers">298</span><span class="text">days</span>
                <span class="numbers">23</span><span class="text">hours</span>
                <span class="numbers">57</span><span class="text">minutes</span>
            </div>
            <small class="dashboard_last-timing">
                last input: 
                <span class="dashboard_last-timing-content">00H00M00S</span>
            </small>
            <div class="dashboard_project-add">
                <a href="#"><i class="fa fa-plus fa-2x"></i></a>
            </div>
        </div>
        <div class="dashboard_project-list">
            <ul>
                <li>
                    <a href="#">
                        <p>Projectname</p>
                        <small class="dashboard_project-timing">
                            <span class="numbers">4</span><span class="text">days</span>
                            <span class="numbers">10</span><span class="text">hours</span>
                            <span class="numbers">07</span><span class="text">minutes</span>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>Projectname</p>
                        <small class="dashboard_project-timing">
                            <span class="numbers">4</span><span class="text">days</span>
                            <span class="numbers">10</span><span class="text">hours</span>
                            <span class="numbers">07</span><span class="text">minutes</span>
                        </small>
                    </a>
                </li>
                <li class="no_projects">
                    <p>You don't have any project setup yet. Please click the '+' button to create your first project!</p>
                </li>
            </ul>
        </div>
    </body>
</html>