<!DOCTYPE html>
<html>
    <% include partials/header %>
    <body class="startbackground">
        <div class="wrapper">
            <h1>Project Manager App</h1>
            <button><a href="./login">Login</a></button>
            <button><a href="./Register">Register</a></button>
        </div>
    <% include partials/footer %>
    </body>
</html>
    
