<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    </head>
    <body class="startbackground">
        <div class="wrapper">
        <img class="logo" src="../public/images/logo.svg" alt="ProjectManagerApp">
        <form id="login_form">
            <div class="form_box">
                <input type="email" placeholder="Email" name="login_email">
                <hr>
                <input type="password" placeholder="Password" name="login_password">
            </div>
        </form>
        <button type="submit" form="login_form" value="sign in">Sign in</button>
        </div>
        <div class="bottomaction">
            <a href="./register.html">
                <p>New on <b>ProjectManagerApp</b>?<br>
                Create a new account here!</p>
                <i class="fal fa-angle-right fa-3x"></i>
            </a>
        </div>
    </body>
</html>