@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

/* General */
*{margin: 0px;box-sizing: border-box;}
body{background-color: #D4D4D4;font-family: 'Source Sans Pro', sans-serif;}

.back-arrow{color: #E57A78;text-shadow: 0 1px 5px #000000;position: absolute;left: 0;top: 0;width: 150px;height: 150px;text-align: center;}
.back-arrow:hover{background-color: rgba(255,255,255,0.5);}
.back-arrow i{margin: auto;font-size: 5rem;line-height: 150px;}
.action-button{position: absolute;width: 150px;height: 150px;display: flex;cursor: pointer;}
.action-button:hover{background-color: rgba(255,255,255,0.3);}
.action-button a{margin: auto;display: block;color: white;}
.action-button a i{font-size: 5rem;}
.action-button.bottom-left{bottom: 0;left: 0;}
.action-button.bottom-right{bottom: 0;right: 0;}

/* Login & Register pages */
.startbackground{background-image: url("../images/background.png");background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;}

.startbackground{width: 100vw;height: 100vh;}
.startbackground .wrapper{width: 300px;height: calc(100vh - 60px);margin: auto;display: flex;flex-wrap: wrap;}
.startbackground .logo{display: block;width: 100%;margin: auto;}
.startbackground form{width: 100%;margin: auto;margin-bottom: 0px;}
.startbackground .form_box{margin: auto;margin-bottom: 20px;width: 100%;background-color: rgba(255,255,255,0.2);border-radius: 7px;border: 1px solid #BFBFBF;box-shadow: 0 3px 6px #BFBFBF;}
.startbackground input{width: 100%;height: 60px;border: none;font-family: 'Source Sans Pro', sans-serif;}
.startbackground input[type=email], input[type=password], input.user_input{background-color: rgba(0,0,0,0);padding-left: 50px;font-size: 12pt;}
.startbackground input[type=email]{background-image: url("../images/at.svg");background-repeat: no-repeat;background-size: 30px 30px;background-position: 10px 15px;}
.startbackground input[type=password]{background-image: url("../images/lock-regular.svg");background-repeat: no-repeat;background-size: 30px 30px;background-position: 10px 12px;}
.startbackground input.user_input{background-image: url("../images/user-regular.svg");background-repeat: no-repeat;background-size: 30px 30px;background-position: 10px 12px;}
.startbackground input::placeholder{color: rgba(0,0,0,0.4);}
.startbackground hr{border: none;border: 0.5px solid #BFBFBF;}
.startbackground button{border: none;width: 100%;height: 50px;border-radius: 7px;background-color: #E57A78;color: #FFFFFF;font-weight: bold;font-size: 15pt;box-shadow: 0 3px 6px #BFBFBF;margin: auto;margin-top: 10px;cursor: pointer;}
.startbackground .bottomaction{position: absolute;bottom: 0;width: 100%;height: 60px;background-color: rgba(255,255,255,0.2);}
.startbackground .bottomaction a{display: block;width: 320px;height: 100%;margin: auto;display: flex;color: white;text-decoration: none;}
.startbackground .bottomaction a:hover{background-color: rgba(255,255,255,0.5);}
.startbackground .bottomaction a p{margin: auto;width: calc(100% - 40px);padding-left: 20px;font-weight: 300;}
.startbackground .bottomaction a p.align-right{text-align: right;padding-right: 20px;}
.startbackground .bottomaction a i{width: 20px;margin: auto 10px;}

/* Dashboard page */
.dashboard_header{width: 100%;height: 100vh;position: relative;top: 0;background-color: #E57A78;box-shadow: 0 3px 6px #BFBFBF;z-index: 2;display: flex;flex-wrap: wrap;color: #FFFFFF;padding: 200px 100px 30px 150px;}
.dashboard_header::after{content: "";position: absolute;top: 0;left: 0; bottom: 0;right: 0;background: url("../images/dashboard_background.svg");background-repeat: no-repeat;background-size: cover;opacity: 0.1; z-index: -1;}
.dashboard_header small{text-align: center;width: 100%;font-weight: 300;font-size: 3rem;margin-bottom: -20px;}
.dashboard_header .dashboard_timing{margin: auto;text-align: center;text-shadow: 0 3px 15px #000000;width: 100%;margin-top: -150px;}
.dashboard_header .dashboard_timing .numbers{font-size: 9rem;}
.dashboard_header .dashboard_timing .text{font-size: 5rem;font-weight: 300;}
.dashboard_header .dashboard_last-timing{margin: auto;margin-top: 5px;}
.dashboard_header .dashboard_last-timing .dashboard_last-timing-content{font-weight: 400;}

.output-list{width: 100%;position: relative;}
.output-list ul{list-style: none;padding: 0;display: flex;}
.output-list ul li{width: 20%;margin: 2.5%;background-color: white;box-shadow: 0 3px 6px #BFBFBF;padding: 20px;text-align: center;}
.output-list ul li a{color: #000000;text-decoration: none;}
.output-list ul li a p{font-size: 1.2rem;margin-bottom: 20px;}

/* Add project page */
.new_project{background-color: #E57A78;height: 100vh;width: 100vw;display: flex;flex-wrap: nowrap;}
.new_project form{margin: auto;width: 300px;}
.new_project form input[type=text]{border: none;border-bottom: 1px solid #FFFFFF;background-color: rgba(0,0,0,0);font-family: 'Source Sans Pro', sans-serif;font-size: 1.3rem;font-weight: 300;padding-bottom: 5px;width: 85%;}
.new_project form input[type=text]::placeholder{color: rgba(255,255,255,1);}
.new_project form button{width: 10%;float: right;text-align: right;background-color: rgba(0,0,0,0);border: none;}
.new_project form button i{color: white;font-size: 2.3rem;text-shadow: 0 1px 5px #000000;}

/* Project page */
.project_header{width: 100%;height: 100vh;position: relative;top: 0;background-color: #E57A78;box-shadow: 0 3px 6px #BFBFBF;z-index: 2;display: flex;flex-wrap: wrap;color: #FFFFFF;padding: 150px 100px 30px 150px;}
.project_header::after{content: "";position: absolute;top: 0;left: 0; bottom: 0;right: 0;background: url("../images/dashboard_background.svg");background-repeat: no-repeat;background-size: cover;opacity: 0.1; z-index: -1;}
.project_header h2{font-size: 5rem;text-align: center;width: 100%;}
.project_header small{text-align: center;width: 100%;font-weight: 300;font-size: 3rem;}
.project_header .project_timing{margin: auto;text-align: center;text-shadow: 0 3px 15px #000000;width: 100%;margin-top: -100px;}
.project_header .project_timing .numbers{font-size: 9rem;}
.project_header .project_timing .text{font-size: 5rem;font-weight: 300;}
.project_header .project_last-timing{margin: auto;margin-top: 5px;}
.project_header .project_last-timing .project_last-timing-content{font-weight: 400;}

/* Add task page */
.new_task{background-color: #E57A78;height: 100vh;width: 100vw;display: flex;flex-wrap: nowrap;}
.new_task form{margin: auto;width: 300px;}
.new_task form label{color: white;margin-top: 20px;display: block;}
.new_task form input{border: none;background-color: rgba(0,0,0,0);font-family: 'Source Sans Pro', sans-serif;font-weight: 300;color: #ffffff;}
.new_task form input[type=text]{border-bottom: 1px solid #FFFFFF;background-color: rgba(0,0,0,0);font-size: 1.3rem;padding-bottom: 5px;width: 85%;}
.new_task form input[type=text]::placeholder{color: rgba(255,255,255,1);}
.new_task form input[type=time]{font-size: 2rem;display: block;margin: auto;margin-right: calc(50% - 30px);width: 85%;}
.new_task form button{width: 10%;float: right;text-align: right;background-color: rgba(0,0,0,0);border: none;}
.new_task form button i{color: white;font-size: 2.3rem;text-shadow: 0 1px 5px #000000;margin-top: -35px;}


@media only screen and (max-width: 600px) {
    /* General */
    .back-arrow{color: #E57A78;text-shadow: 0 1px 5px #000000;position: absolute;left: 0;top: 0;width: 50px;height: 50px;text-align: center;}
    .back-arrow i{margin: auto;font-size: 2rem;line-height: 50px;}
    .action-button{width: 50px;height: 50px;}
    .action-button a i{font-size: 1rem;}

    /* Dashboard page */
    .dashboard_header{height: 25vh;padding: 20px 70px 30px 70px;}
    .dashboard_header small{font-size: 0.8rem;}
    .dashboard_header .dashboard_timing{margin-top: -5px;}
    .dashboard_header .dashboard_timing .numbers{font-size: 1.2rem;}
    .dashboard_header .dashboard_timing .text{font-size: 0.8rem;}
    .dashboard_header .dashboard_project-add{width: 60px;height: 60px;}
    .dashboard_header .dashboard_project-add a i{font-size: 1rem;}
    
    .output-list{width: 100%;height: 75vh;position: absolute;bottom: 0;z-index: 1;overflow: scroll;}
    .output-list ul{background-color: #FFFFFF;list-style: none;padding: 0;display: block;}
    .output-list ul li{width: 100%;height: 50px;padding: 10px 20px;display: flex;border-bottom: 0.5px solid #D4D4D4;box-shadow: none;margin: 0;}
    .output-list ul li.no_projects{height: auto;font-size: 0.8rem;font-weight: 300;}
    .output-list ul li:hover{background-color: #D4D4D4;}
    .output-list ul li a{display: block;width: 100%;display: flex;}
    .output-list ul li a p{display: inline-block;margin: auto;margin-left: 0px;font-size: 1rem;}
    .output-list ul li a p i{display: inline-block;}
    .output-list ul li a small.dashboard_project-timing{display: inline-block;margin: auto;margin-right: 0px;}
    .output-list ul li a small.dashboard_project-timing .numbers{font-size: 0.8rem;}
    .output-list ul li a small.dashboard_project-timing .text{font-size: 0.6rem;font-weight: 300;}

    /* Project page */
    .project_header{height: 25vh;padding: 10px 70px 10px 70px;}
    .project_header small{font-size: 0.8rem;}
    .project_header .project_timing{margin-left: 0;margin-top: -5px;}
    .project_header .project_timing .numbers{font-size: 1.2rem;}
    .project_header .project_timing .text{font-size: 0.8rem;}
    .project_header h2{text-align: center;width: 100%;margin: auto;margin-bottom: 5px;}
}