
*{margin: 0px;box-sizing: border-box;}
body{background-color: #D4D4D4;font-family: 'Source Sans Pro', sans-serif;}




/* Login & Register pages */
.startbackground{background-image: url("../images/background.png");background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;}

.startbackground{width: 100vw;height: 100vh;}
.startbackground .wrapper{width: 300px;height: calc(100vh - 60px);margin: auto;display: flex;flex-wrap: wrap;}
.startbackground.logo{display: block;width: 100%;margin: auto;}
.startbackground form{width: 100%;margin: auto;margin-bottom: 0px;}
.startbackground .form_box{margin: auto;margin-bottom: 20px;width: 100%;background-color: rgba(255,255,255,0.2);border-radius: 7px;border: 1px solid #BFBFBF;box-shadow: 0 3px 6px #BFBFBF;}
.startbackground input{width: 100%;height: 60px;border: none;font-family: 'Source Sans Pro', sans-serif;}
.startbackground input[type=email], input[type=password], input.user_input{background-color: rgba(0,0,0,0);padding-left: 50px;font-size: 12pt;}
.startbackground input[type=email]{background-image: url("../images/at.svg");background-repeat: no-repeat;background-size: 30px 30px;background-position: 10px 15px;}
.startbackground input[type=password]{background-image: url("../images/lock-regular.svg");background-repeat: no-repeat;background-size: 30px 30px;background-position: 10px 12px;}
.startbackground input.user_input{background-image: url("../images/user-regular.svg");background-repeat: no-repeat;background-size: 30px 30px;background-position: 10px 12px;}
.startbackground input::placeholder{color: rgba(0,0,0,0.4);}
.startbackground hr{border: none;border: 0.5px solid #BFBFBF;}
.startbackground button{border: none;width: 100%;height: 50px;border-radius: 7px;background-color: #E57A78;color: #FFFFFF;font-weight: bold;font-size: 15pt;box-shadow: 0 3px 6px #BFBFBF;margin: auto;margin-top: 10px;cursor: pointer;}
.startbackground .bottomaction{position: absolute;bottom: 0;width: 100%;height: 60px;background-color: rgba(255,255,255,0.2);}
.startbackground .bottomaction a{display: block;width: 320px;height: 100%;margin: auto;display: flex;color: white;text-decoration: none;}
.startbackground .bottomaction a:hover{background-color: rgba(255,255,255,0.5);}
.startbackground .bottomaction a p{margin: auto;width: calc(100% - 40px);padding-left: 20px;}
.startbackground .bottomaction a p.align-right{text-align: right;padding-right: 20px;}
.startbackground .bottomaction a i{width: 20px;margin: auto 10px;}

@media only screen and (max-width: 600px) {

}