<html>
    <% include ../partials/head %>
    <body class="new_project">
        <a href="/dashboard" class="back-arrow"><i class="fa fa-angle-left fa-2x back-arrow"></i></a>
        <form id="add-project_form">
            <input type="text" placeholder="Project name" required>
            <button type="submit" form="add-project_form" value="submit"><i class="fa fa-angle-right fa-2x"></i></button>
        </form>
    </body>
</html>