<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="startbackground">
        <div class="wrapper">
        <img class="logo" src="./images/logo.svg" alt="ProjectManagerApp">
        <form id="login_form" method="POST">
            <div class="form_box">
                <input type="email" placeholder="Email" name="login_email">
                <hr>
                <input type="password" placeholder="Password" name="login_password">
            </div>
        </form>
        <button type="submit" form="login_form" value="sign in">Sign in</button>
        </div>
        <div class="bottomaction">
            <a href="./register">
                <p>New on <b>ProjectManagerApp</b>?<br>
                Create a new account here!</p>
                <i class="fal fa-angle-right fa-3x"></i>
            </a>
        </div>
    </body>
</html>