<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="startbackground">
        <div class="wrapper">
            <img class="logo" src="./images/logo.svg" alt="ProjectManagerApp">
            <form id="register_form" method="POST">
                <div class="form_box">
                    <input type="email" placeholder="Email" name="register_email">
                    <hr>
                    <input type="text" class="user_input" placeholder="First name" name="register_firstname">
                    <hr>
                    <input type="text" class="user_input" placeholder="Last name" name="register_lastname">
                </div>
                <div class="form_box">
                    <input type="password" placeholder="Password" name="register_password">
                    <hr>
                    <input type="password" placeholder="Repeat password" name="register_repassword">
                </div>
            </form>
            <button type="submit" form="register_form" value="register">Register</button>
        </div>
        <div class="bottomaction">
            <a href="./login">
                <i class="fal fa-angle-left fa-3x"></i>
                <p class="align-right">Already have an account on<br>
                <b>ProjectManagerApp</b>? Click here!</p>
            </a>
        </div>
        <% include ../partials/footer %>
        <script>
            $('form#register_form').submit(function(e){
                e.preventDefault();

                if($("input[name=register_password]").val() == $("input[name=register_repassword]").val()){
                    var email = $("input[name=register_email]").val();
                    var password = $("input[name=register_password]").val();
                    var displayName = $("input[name=register_firstname]").val() + " " + $("input[name=register_lastname]").val();
                    
                    console.log("Login attempt!");
                    firebase.auth().createUserWithEmailAndPassword(email, password)
                    .then(function(data){
                        firebase.auth().updateProfile({
                            displayName: displayName,
                        }).then(function() {
                            window.location = "/dashboard";
                        }).catch(function(error) {
                            console.log(error);
                        });
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                }
            });
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    window.location = "/dashboard";
                }
            });
        </script>
    </body>
</html>