<html>
    <% include ../partials/header %>
    <body>
        <% include ../partials/navigation %>
        <header class="toolbar">
            <div class="backBtn"><a href="/projects"><i class="fa fa-chevron-left"></i></a></div>
        </header>
        <main>
            <form id="add-project_form" action="/projects" method="POST">
                <div class="container">
                    <h2>Create a new project!</h2>
                    <small>A project contains all your timestamps. This is used to collect all data for calculating your total time spend on this project.</small>
                    
                    <label for="project-name">Project title</label>
                    <input type="text" placeholder="A project name" id="project-name" name="add_project_name" required>
                    
                    <label for="project-description">Project description <span>(optional)</span></label>
                    <textarea placeholder="Project Description" id="project-description" name="add_project_description"></textarea>
                    
                    <input type="submit" value="Create new project">
                </div>
            </form>
        </main>
        <% include ../partials/footer %>
    </body>
</html>