<html>
    <% include ../partials/head %>
    <body>
        <header class="project_header">
            <a href="/dashboard" class="back-arrow"><i class="fa fa-angle-left fa-2x back-arrow"></i></a>
            <h2>Projectname</h2>
            <small>Total time spend</small>
            <div class="project_timing">
                <span class="numbers">298</span><span class="text">days</span>
                <span class="numbers">23</span><span class="text">hours</span>
                <span class="numbers">57</span><span class="text">minutes</span>
            </div>
            <small class="project_last-timing">
                last input: 
                <span class="project_last-timing-content">00H00M00S</span>
            </small>
            <div class="action-button bottom-left">
                    <a href="#"><i class="fa fa-clock fa-2x"></i></a>
                </div>
            <div class="action-button bottom-right">
                <a href="/addtiming"><i class="fa fa-plus fa-2x"></i></a>
            </div>
        </header>
        <main class="output-list">
            <ul>
                <li>
                    <a href="#">
                        <p>Date(or description) <i class="fa fa-pencil edit-icon"></i></p>
                        <small class="dashboard_project-timing">
                            <span class="numbers">01</span><span class="text">hours</span>
                            <span class="numbers">07</span><span class="text">minutes</span>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>Date(or description)</i></p>
                        <small class="dashboard_project-timing">
                            <span class="numbers">04</span><span class="text">hours</span>
                            <span class="numbers">29</span><span class="text">minutes</span>
                        </small>
                    </a>
                </li>
            </ul>
        </main>
    </body>
</html>