<!DOCTYPE html>
<html>
    <% include ../partials/header %>
    <body class="startbackground">
        <div class="wrapper">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <img class="logo" src="./images/logo.svg" alt="ProjectManagerApp">
        <form id="login_form" method="POST" autocomplete="off">
            <div class="form_box">
                <input type="email" placeholder="Email" name="username">
                <hr>
                <input type="password" placeholder="Password" name="password">
            </div>
        </form>
        <button type="submit" form="login_form" value="sign in">Sign in</button>
        </div>
        <div class="bottomaction">
            <a href="./register">
                <p>New on <b>ProjectManagerApp</b>?<br>
                Create a new account here!</p>
                <i class="fal fa-angle-right fa-3x"></i>
            </a>
        </div>
        <% include ../partials/footer %>
        <script src="/js/mobile-logreg.js"></script>
    </body>
</html>