<!DOCTYPE html>
<html>
    <% include ../partials/header %>
    <body class="startbackground">
        <div class="wrapper">
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <img class="logo" src="./images/logo.svg" alt="ProjectManagerApp">
            <form id="register_form" method="POST" autocomplete="off">
                <div class="form_box">
                    <input type="email" placeholder="Email" name="username">
                    <hr>
                    <input type="text" class="user_input" placeholder="First name" name="register_firstname">
                    <hr>
                    <input type="text" class="user_input" placeholder="Last name" name="register_lastname">
                </div>
                <div class="form_box">
                    <input type="password" placeholder="Password" name="password">
                    <hr>
                    <input type="password" placeholder="Repeat password" name="register_repassword">
                </div>
            </form>
            <button type="submit" form="register_form" value="register">Register</button>
        </div>
        <div class="bottomaction">
            <a href="./login">
                <i class="fal fa-angle-left fa-3x"></i>
                <p class="align-right">Already have an account on<br>
                <b>ProjectManagerApp</b>? Click here!</p>
            </a>
        </div>
        <% include ../partials/footer %>
        <script src="/js/mobile-logreg.js"></script>
    </body>
</html>